Package/User/Package Control.last-run
Package/User/Package Control.ca-list
Package/User/Package Control.ca-bundle
Package/User/Package Control.system-ca-bundle
Package/User/Package Control.cache/
Package/User/Package Control.ca-certs/
